$navbar-bkg-color: #015b80;
$navbar-bkg-darker: scale-color(#015b80, $lightness: -33%);

.navbar {
    background-image: url(../images/blitterfly.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-color: $navbar-bkg-color;
    background-size: 138px 90px;
    background-position: 24px 10px;
    image-rendering: pixelated;
    height: 110px;
    line-height: 1;
    box-shadow: 0 3px 6px scale-color($navbar-bkg-color, $alpha: 90%);


    @include mixins.until (iv.$desktop) {
        .navbar-deco {
            display: none;
        }
    }

    .navbar-brand {
        min-height: auto;
        @include mixins.until(iv.$desktop) {
            padding-top: 28px;
        }
    }

    #navbarBasic {
        background-color: $navbar-bkg-color;
        border-top: 1px solid $navbar-bkg-darker;
    }

    a.navbar-item {
        min-height: auto;
        line-height: 1;

        &,
        &:hover,
        &:active,
        &:visited {
            text-decoration: none;
        }

        &:hover {
            background-color: $navbar-bkg-darker;
        }

        @include mixins.from(iv.$desktop) {

            &:hover {
                background-repeat: no-repeat;
                background-size: 42px 50px;
                background-position: 50% 50%;
                background-color: transparent;
            }

            @for $i from 1 through 4 {
            &:nth-child(#{$i}):hover {
                background-image: url(../images/blitterfly-nav-#{$i}.png);
            }
        }
        }
    }

    .navbar-brand a.navbar-item {
        font-family: $family-header;
        font-size: 2.2rem;
        color: dv.$scheme-main;
        text-shadow: 3px 3px dv.$dark;

        &,
        &:hover,
        &:active,
        &:visited {
            text-decoration: none;
            color: dv.$scheme-main;
            background-color: transparent;
            background-image: none;
        }
    }

    .navbar-burger,
    .navbar-burger:hover,
    .navbar-burger:active,
    .navbar-burger:visited {
        color: dv.$scheme-main;
    }

    @include mixins.from(iv.$desktop) {
        #navbarBasic {
            background-color: transparent;
        }

        .navbar-item {
            color: dv.$scheme-main;
        }

        .navbar-menu,
        .navbar-start {
            justify-content: flex-end;
            margin-right: 0;
        }
    }
}