@use "../../node_modules/bulma/sass/utilities/initial-variables" as iv with ($scheme-h: 42,
    $scheme-s: 79%,
    $family-sans-serif: "'Shantell-Sans', sans-serif"
);
@use "../../node_modules/bulma/sass/utilities/derived-variables" as dv with ($scheme-main: #FCF5E5,
    $text: #343444,
    $link: #7B3F00);
@use "../../node_modules/bulma/bulma";
@use "../../node_modules/bulma/sass/utilities/mixins";
@import "vars";
@import "fonts";
@import "nav";

body {
    background-color: #222;
}

a:hover {
    text-decoration: underline;
}

.title {
    padding: 0;
    color: dv.$scheme-main;
    position: relative;
    letter-spacing: 0.03em;
    line-height: 95%;
    border-bottom: 1px dashed dv.$scheme-main;
}

.content {
    h2 {
        border-bottom: 1px dashed dv.$scheme-main;
        line-height: 95%;
    }
}

.sidebar {
    font-weight: bold;

    @include mixins.from(iv.$tablet) {
        text-align: right;
    }
}

.pfcard {
    background-repeat: no-repeat;
    background-color: #fff;

    &[data-image] {
        cursor: pointer;
    }

    .card-content {
        @include mixins.from(iv.$desktop) {
            padding-left: 200px;
        }

        ul {
            list-style-type: none;
            margin-left: 0;
        }
    }

    &.inverted {
        background-color: #000;

        .card-content {

            a,
            a:visited {
                color: $banana;
            }

            a:hover {
                color: dv.$scheme-main;
            }
        }
    }
}

.is-half .pfcard {
    background-position: bottom 24px right 24px;

    .card-content {
        padding-left: 24px;
        padding-bottom: 80px;
    }
}

.pftab a {

    &,
    &:hover {
        text-decoration: none;
    }
}

.pfpane {
    display: none;
    padding-top: 24px;

    &.is-active {
        display: block;
    }

    @include mixins.until(iv.$desktop) {
        .media {
            flex-direction: column;
        }
    }
}

#pflightbox .modal-content {
    width: 80%;
}

.pfrebrand img[data-image] {
    cursor: pointer;
}

.footer {
    box-shadow: 0 0 8px rgba(87, 87, 87, 0.9);
    clip-path: inset(-8px 0 0 0);
    background-color: #015b80;

    .pony {
        display: block;
        height: 64px;
        width: 64px;
        margin: 0 auto;
        opacity: 0.3;
    }
}

.footer .icon-text {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin: 0 0.5em;
}